* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main {
  margin: 0;
  padding: 0;
  /* background-color: #fafafa; */
  width: auto;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}